* {
    box-sizing: border-box;
}

body {
    background-color: #2a255c;
    width: 70%;
}

section {
    position: relative;
    top: 100px;
    left: 150px;
}

section .segment {
    padding: 2em;
    width: 120px;
    margin: 1em;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: -4px -6px 9px #57509e, 8px 9px 9px #181818;
}

section .segment:hover {
    box-shadow: inset -4px -6px 9px #57509e, inset 8px 9px 9px #181818;
}

section .segment span {
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: capitalize;
    padding: .8em 0 0 0;
}

section .segment .fa {
    color: white;
    font-size: 25px;
}